policy_module(custom_systemd_logind, 1.0.0)

gen_require(`
  type systemd_logind_t;
  type unconfined_t;
  type fixed_disk_device_t;
  class fd use;
  class blk_file read;
')

########################################
#
# custom_systemd_logind customized policy
#
allow systemd_logind_t unconfined_t:fd use;
allow systemd_logind_t fixed_disk_device_t:blk_file read;
