policy_module(custom_NetworkManager, 1.0.0)

gen_require(`
  type NetworkManager_t;
  type NetworkManager_etc_t;
  type default_t;
  type init_runtime_t;
  type initrc_runtime_t;
  type init_t;
  type security_t;
  type udev_runtime_t;
  type udev_t;
  type usr_t;
  type xdg_cache_t;
  type xdm_t;
  type etc_t;
  type tmpfs_t;
  class dir { add_name create getattr open read remove_name search write };
  class file { append create execute execute_no_trans getattr ioctl map open read rename setattr unlink write };
  class lnk_file { create unlink };
  class sock_file write;
  class system reload;
  class unix_stream_socket connectto;
  class lnk_file read;
  class dir { read watch };
  class netlink_selinux_socket { create bind };
')

########################################
#
# custom_NetworkManager customized policy
#
allow NetworkManager_t NetworkManager_etc_t:dir watch;
allow NetworkManager_t default_t:dir search;
allow NetworkManager_t init_runtime_t:file { create open read rename setattr unlink write };
allow NetworkManager_t init_runtime_t:lnk_file { create unlink };
allow NetworkManager_t initrc_runtime_t:dir { add_name getattr open read remove_name search };
allow NetworkManager_t initrc_runtime_t:file { create rename setattr unlink };
allow NetworkManager_t security_t:file map;
allow NetworkManager_t udev_runtime_t:dir { add_name read remove_name };
allow NetworkManager_t udev_runtime_t:file { create rename setattr unlink write };
allow NetworkManager_t udev_runtime_t:sock_file write;
allow NetworkManager_t udev_t:unix_stream_socket connectto;
allow NetworkManager_t usr_t:file { execute execute_no_trans };
allow NetworkManager_t xdg_cache_t:dir search;
allow NetworkManager_t init_runtime_t:dir { add_name remove_name write };
allow NetworkManager_t initrc_runtime_t:dir { create write };
allow NetworkManager_t init_t:system reload;
allow NetworkManager_t usr_t:file map;
allow NetworkManager_t xdm_t:unix_stream_socket connectto;
allow NetworkManager_t self:netlink_selinux_socket { create bind };
allow NetworkManager_t etc_t:file execute;
allow NetworkManager_t tmpfs_t:dir search;
