policy_module(custom_getty, 1.0.0)

gen_require(`
  type getty_t;
  class capability2 checkpoint_restore;
')

########################################
#
# custom_getty customized policy
#
allow getty_t self:capability2 checkpoint_restore;
