policy_module(custom_dnsmasq, 1.0.0)

gen_require(`
  type dnsmasq_t;
  type systemd_resolved_runtime_t;
  class lnk_file read;
  class dir { read watch };
')

########################################
#
# custom_dnsmasq customized policy
#
allow dnsmasq_t systemd_resolved_runtime_t:dir { read watch };
allow dnsmasq_t systemd_resolved_runtime_t:lnk_file read;
