policy_module(custom_systemd_generator, 1.0.0)

gen_require(`
  type systemd_generator_t;
  type init_runtime_t;
  type initrc_runtime_t;
  type usr_t;
  type var_run_t;
  class capability sys_rawio;
  class dir { add_name create search write };
  class file { append create map open read unlink write };
')

########################################
#
# custom_systemd_generator customized policy
#
allow systemd_generator_t init_runtime_t:file unlink;
allow systemd_generator_t initrc_runtime_t:dir search;
allow systemd_generator_t initrc_runtime_t:file { append open write };
allow systemd_generator_t usr_t:file { map open read };
allow systemd_generator_t var_run_t:dir { add_name create write };
allow systemd_generator_t var_run_t:file { append create open write };
allow systemd_generator_t self:capability sys_rawio;
