policy_module(custom_unconfined, 1.0.0)

gen_require(`
  type unconfined_t;
  class process execmem;
  class io_uring sqpoll;
	role unconfined_r;
')

########################################
#
# custom_unconfined customized policy
#
allow unconfined_t self:process execmem;
allow unconfined_t self:io_uring sqpoll;
