policy_module(custom_smbd, 1.0.0)

gen_require(`
  type smbd_t;
  type urandom_device_t;
  class chr_file write;
')

########################################
#
# custom_smbd customized policy
#
allow smbd_t urandom_device_t:chr_file write;
