policy_module(custom_vmware_tools, 1.0.0)

gen_require(`
  type vmware_tools_t;
  type vmware_log_t;
  type vmware_vgauth_service_t;
  type NetworkManager_t;
  type auditd_t;
  type blkmapd_t;
  type boot_t;
  type crond_t;
  type dnsmasq_t;
  type firewalld_t;
  type getty_t;
  type httpd_t;
  type kernel_t;
  type modemmanager_t;
  type mount_t;
  type nfsd_t;
  type nmbd_t;
  type ntpd_t;
  type policykit_t;
  type rpcbind_t;
  type rpcd_t;
  type smbd_t;
  type sshd_t;
  type syslogd_t;
  type system_dbusd_t;
  type systemd_logind_t;
  type systemd_resolved_runtime_t;
  type systemd_resolved_t;
  type udev_t;
  type unconfined_t;
  type urandom_device_t;
  type vmware_vgauth_service_t;
  type winbind_t;
  type dosfs_t;
  class dir { read search };
  class file { getattr open unlink read write };
  class chr_file { open read };
  class capability { net_admin sys_ptrace };
  class blk_file read;
  class filesystem getattr;
')

########################################
#
# custom_vmware_tools customized policy
#
allow vmware_tools_t NetworkManager_t:dir search;
allow vmware_tools_t NetworkManager_t:file read;
allow vmware_tools_t auditd_t:dir search;
allow vmware_tools_t auditd_t:file read;
allow vmware_tools_t blkmapd_t:dir search;
allow vmware_tools_t blkmapd_t:file read;
allow vmware_tools_t boot_t:dir search;
allow vmware_tools_t crond_t:dir search;
allow vmware_tools_t crond_t:file read;
allow vmware_tools_t dnsmasq_t:dir search;
allow vmware_tools_t dnsmasq_t:file read;
allow vmware_tools_t dosfs_t:filesystem getattr;
allow vmware_tools_t firewalld_t:dir search;
allow vmware_tools_t firewalld_t:file read;
allow vmware_tools_t getty_t:dir search;
allow vmware_tools_t getty_t:file read;
allow vmware_tools_t httpd_t:dir search;
allow vmware_tools_t httpd_t:file read;
allow vmware_tools_t kernel_t:dir search;
allow vmware_tools_t kernel_t:file read;
allow vmware_tools_t modemmanager_t:dir search;
allow vmware_tools_t modemmanager_t:file read;
allow vmware_tools_t mount_t:dir search;
allow vmware_tools_t mount_t:file read;
allow vmware_tools_t nfsd_t:dir search;
allow vmware_tools_t nfsd_t:file read;
allow vmware_tools_t nmbd_t:dir search;
allow vmware_tools_t nmbd_t:file read;
allow vmware_tools_t ntpd_t:dir search;
allow vmware_tools_t ntpd_t:file read;
allow vmware_tools_t policykit_t:dir search;
allow vmware_tools_t policykit_t:file read;
allow vmware_tools_t rpcbind_t:dir search;
allow vmware_tools_t rpcbind_t:file read;
allow vmware_tools_t rpcd_t:dir search;
allow vmware_tools_t rpcd_t:file read;
allow vmware_tools_t smbd_t:dir search;
allow vmware_tools_t smbd_t:file read;
allow vmware_tools_t sshd_t:dir search;
allow vmware_tools_t sshd_t:file read;
allow vmware_tools_t syslogd_t:dir search;
allow vmware_tools_t syslogd_t:file read;
allow vmware_tools_t system_dbusd_t:dir search;
allow vmware_tools_t system_dbusd_t:file read;
allow vmware_tools_t systemd_logind_t:dir search;
allow vmware_tools_t systemd_logind_t:file read;
allow vmware_tools_t systemd_resolved_runtime_t:dir search;
allow vmware_tools_t systemd_resolved_runtime_t:file { getattr open read };
allow vmware_tools_t systemd_resolved_t:dir search;
allow vmware_tools_t systemd_resolved_t:file read;
allow vmware_tools_t udev_t:dir search;
allow vmware_tools_t udev_t:file read;
allow vmware_tools_t unconfined_t:dir search;
allow vmware_tools_t unconfined_t:file read;
allow vmware_tools_t urandom_device_t:chr_file { open read };
allow vmware_tools_t vmware_log_t:file { unlink write };
allow vmware_tools_t vmware_vgauth_service_t:dir search;
allow vmware_tools_t vmware_vgauth_service_t:file { open read};
allow vmware_tools_t winbind_t:dir search;
allow vmware_tools_t winbind_t:file read;
allow vmware_tools_t self:capability sys_ptrace;
