policy_module(custom_colord, 1.0.0)

gen_require(`
  type colord_t;
  type unreserved_port_t;
  class udp_socket name_bind;
')

########################################
#
# custom_colord customized policy
#
allow colord_t unreserved_port_t:udp_socket name_bind;
