# **test result**

## **media**

|     distribution     |   mini    |  netinst  |    dvd    | liveinst  |   live    |               memo               |
| :------------------- | :-------: | :-------: | :-------: | :-------: | :-------: | :------------------------------- |
| debian-12            |     ･     |     ･     |     ･     |     ･     |     ･     |                                  |
| debian-13            |     ･     |     ･     |     ･     |     ･     |     ･     |                                  |
| debian-14            |     ･     |     -     |     -     |     -     |     -     |                                  |
| debian-15            |     -     |     -     |     -     |     -     |     -     |                                  |
| debian-testing       |     ･     |     ･     |     ･     |     ･     |     ･     |                                  |
| debian-testing-daily |     ･     |     -     |     -     |     -     |     -     |                                  |
| ubuntu-24.04         |     -     |     -     |     ･     |     ･     |     -     |                                  |
| ubuntu-25.04         |     -     |     -     |     ･     |     ･     |     -     |                                  |
| ubuntu-25.10         |     -     |     -     |     ･     |     ･     |     -     |                                  |
| fedora-43            |     -     |     ･     |     ･     |     -     |     -     |                                  |
| centos-stream-9      |     -     |     ･     |     ･     |     -     |     -     |                                  |
| centos-stream-10     |     -     |     ･     |     ･     |     -     |     -     |                                  |
| almalinux-9          |     -     |     ･     |     ･     |     -     |     -     |                                  |
| almalinux-10         |     -     |     ･     |     ･     |     -     |     -     |                                  |
| rockylinux-9         |     -     |     ･     |     ･     |     -     |     -     |                                  |
| rockylinux-10        |     -     |     ･     |     ･     |     -     |     -     |                                  |
| miraclelinux-9       |     -     |     ･     |     ･     |     -     |     -     |                                  |
| opensuse-leap-16     |     -     |     ･     |     ･     |     -     |     -     |                                  |
| opensuse-tumbleweed  |     -     |     ･     |     ･     |     -     |     -     |                                  |
| windows-10-22h2      |     -     |     -     |     ･     |     -     |     -     |                                  |
| windows-11-25h2      |     -     |     -     |     ･     |     -     |     -     |                                  |
| memtest86plus        |     -     |     -     |     ･     |     -     |     -     |                                  |
| winpe-x86            |     -     |     -     |     ･     |     -     |     -     |                                  |
| winpe-x64            |     -     |     -     |     ･     |     -     |     -     |                                  |
| ati2020x86           |     -     |     -     |     ･     |     -     |     -     |                                  |
| ati2020x64           |     -     |     -     |     ･     |     -     |     -     |                                  |

## **pxeboot (ipxe)**

|     distribution     |   mini    |  netinst  |    dvd    | liveinst  |   live    |               memo               |
| :------------------- | :-------: | :-------: | :-------: | :-------: | :-------: | :------------------------------- |
| debian-12            |     ･     |     =     |     =     |     =     |     ･     |                                  |
| debian-13            |     ･     |     =     |     =     |     =     |     ･     |                                  |
| debian-14            |     x     |     -     |     -     |     -     |     -     | kernel version mismatch error    |
| debian-15            |     -     |     -     |     -     |     -     |     -     | unreleased                       |
| debian-testing       |     x     |     =     |     =     |     =     |     ･     | kernel version mismatch error    |
| debian-testing-daily |     ･     |     -     |     -     |     -     |     -     |                                  |
| ubuntu-24.04         |     -     |     -     |     ･     |     ･     |     -     |                                  |
| ubuntu-25.04         |     -     |     -     |     ･     |     ･     |     -     |                                  |
| ubuntu-25.10         |     -     |     -     |     ･     |     ･     |     -     |                                  |
| fedora-43            |     -     |     ･     |     ･     |     -     |     -     |                                  |
| centos-stream-9      |     -     |     ･     |     ･     |     -     |     -     |                                  |
| centos-stream-10     |     -     |     ･     |     ･     |     -     |     -     |                                  |
| almalinux-9          |     -     |     ･     |     ･     |     -     |     -     |                                  |
| almalinux-10         |     -     |     ･     |     ･     |     -     |     -     |                                  |
| rockylinux-9         |     -     |     ･     |     ･     |     -     |     -     |                                  |
| rockylinux-10        |     -     |     ･     |     ･     |     -     |     -     |                                  |
| miraclelinux-9       |     -     |     ･     |     ･     |     -     |     -     |                                  |
| opensuse-leap-16     |     -     |     ･     |     ･     |     -     |     -     |                                  |
| opensuse-tumbleweed  |     -     |     /     |     ･     |     -     |     -     |                                  |
| windows-10-22h2      |     -     |     -     |     ･     |     -     |     -     |                                  |
| windows-11-25h2      |     -     |     -     |     ･     |     -     |     -     |                                  |
| memtest86plus        |     -     |     -     |     ･     |     -     |     -     |                                  |
| winpe-x86            |     -     |     -     |     ･     |     -     |     -     |                                  |
| winpe-x64            |     -     |     -     |     ･     |     -     |     -     |                                  |
| ati2020x86           |     -     |     -     |     ･     |     -     |     -     |                                  |
| ati2020x64           |     -     |     -     |     ･     |     -     |     -     |                                  |

## **pxeboot (syslinux)**

|     distribution     |   mini    |  netinst  |    dvd    | liveinst  |   live    |               memo               |
| :------------------- | :-------: | :-------: | :-------: | :-------: | :-------: | :------------------------------- |
| debian-12            |     ･     |     ･     |     ･     |     ･     |     ･     |                                  |
| debian-13            |     ･     |     ･     |     ･     |     ･     |     ･     |                                  |
| debian-14            |     ･     |     -     |     -     |     -     |     -     |                                  |
| debian-15            |     -     |     -     |     -     |     -     |     -     |                                  |
| debian-testing       |     ･     |     ･     |     ･     |     ･     |     ･     |                                  |
| ubuntu-24.04         |     -     |     -     |     ･     |     ･     |     -     |                                  |
| ubuntu-25.04         |     -     |     -     |     ･     |     ･     |     -     |                                  |
| ubuntu-25.10         |     -     |     -     |     ･     |     ･     |     -     |                                  |
| fedora-43            |     -     |     ･     |     ･     |     -     |     -     |                                  |
| centos-stream-9      |     -     |     ･     |     ･     |     -     |     -     |                                  |
| centos-stream-10     |     -     |     ･     |     ･     |     -     |     -     |                                  |
| almalinux-9          |     -     |     ･     |     ･     |     -     |     -     |                                  |
| almalinux-10         |     -     |     ･     |     ･     |     -     |     -     |                                  |
| rockylinux-9         |     -     |     ･     |     ･     |     -     |     -     |                                  |
| rockylinux-10        |     -     |     ･     |     ･     |     -     |     -     |                                  |
| miraclelinux-9       |     -     |     ･     |     ･     |     -     |     -     |                                  |
| opensuse-leap-16     |     -     |     ･     |     ･     |     -     |     -     |                                  |
| opensuse-tumbleweed  |     -     |     ･     |     ･     |     -     |     -     |                                  |
| windows-10-22h2      |     -     |     -     |     ･     |     -     |     -     |                                  |
| windows-11-25h2      |     -     |     -     |     ･     |     -     |     -     |                                  |
| memtest86plus        |     -     |     -     |     ･     |     -     |     -     |                                  |
| winpe-x86            |     -     |     -     |     ･     |     -     |     -     |                                  |
| winpe-x64            |     -     |     -     |     ･     |     -     |     -     |                                  |
| ati2020x86           |     -     |     -     |     ･     |     -     |     -     |                                  |
| ati2020x64           |     -     |     -     |     ･     |     -     |     -     |                                  |

## **pxeboot (grub)**

|     distribution     |   mini    |  netinst  |    dvd    | liveinst  |   live    |               memo               |
| :------------------- | :-------: | :-------: | :-------: | :-------: | :-------: | :------------------------------- |
| debian-12            |     ･     |     ･     |     ･     |     ･     |     ･     |                                  |
| debian-13            |     ･     |     ･     |     ･     |     ･     |     ･     |                                  |
| debian-14            |     ･     |     -     |     -     |     -     |     -     |                                  |
| debian-15            |     -     |     -     |     -     |     -     |     -     |                                  |
| debian-testing       |     ･     |     ･     |     ･     |     ･     |     ･     |                                  |
| ubuntu-24.04         |     -     |     -     |     ･     |     ･     |     -     |                                  |
| ubuntu-25.04         |     -     |     -     |     ･     |     ･     |     -     |                                  |
| ubuntu-25.10         |     -     |     -     |     ･     |     ･     |     -     |                                  |
| fedora-43            |     -     |     ･     |     ･     |     -     |     -     |                                  |
| centos-stream-9      |     -     |     ･     |     ･     |     -     |     -     |                                  |
| centos-stream-10     |     -     |     ･     |     ･     |     -     |     -     |                                  |
| almalinux-9          |     -     |     ･     |     ･     |     -     |     -     |                                  |
| almalinux-10         |     -     |     ･     |     ･     |     -     |     -     |                                  |
| rockylinux-9         |     -     |     ･     |     ･     |     -     |     -     |                                  |
| rockylinux-10        |     -     |     ･     |     ･     |     -     |     -     |                                  |
| miraclelinux-9       |     -     |     ･     |     ･     |     -     |     -     |                                  |
| opensuse-leap-16     |     -     |     ･     |     ･     |     -     |     -     |                                  |
| opensuse-tumbleweed  |     -     |     ･     |     ･     |     -     |     -     |                                  |
| windows-10-22h2      |     -     |     -     |     ･     |     -     |     -     |                                  |
| windows-11-25h2      |     -     |     -     |     ･     |     -     |     -     |                                  |
| memtest86plus        |     -     |     -     |     ･     |     -     |     -     |                                  |
| winpe-x86            |     -     |     -     |     ･     |     -     |     -     |                                  |
| winpe-x64            |     -     |     -     |     ･     |     -     |     -     |                                  |
| ati2020x86           |     -     |     -     |     ･     |     -     |     -     |                                  |
| ati2020x64           |     -     |     -     |     ･     |     -     |     -     |                                  |
