# version=RHEL8 ----------------------------------------------------------------

# System bootloader configuration ---------------------------------------------
#bootloader --append=" crashkernel=auto" --location=mbr --boot-drive=sda
bootloader --append=" crashkernel=auto" --location=mbr --boot-drive=nvme0n1
autopart --type=lvm

# Clear the Master Boot Record ------------------------------------------------
zerombr

# Partition clearing information ----------------------------------------------
#clearpart --all --initlabel --drives=sda
clearpart --all --initlabel --drives=nvme0n1

# License agreement -----------------------------------------------------------
eula --agreed

# Reboot after installation ---------------------------------------------------
reboot --eject

# Use graphical install -------------------------------------------------------
graphical

# Use text mode install -------------------------------------------------------
# text

# Use CDROM installation media ------------------------------------------------
cdrom

# Use network installation ----------------------------------------------------
#url                         --url="https://download.rockylinux.org/pub/rocky/8/BaseOS/x86_64/os/"
#repo --name="AppStream" --baseurl="https://download.rockylinux.org/pub/rocky/8/AppStream/x86_64/os/"

# Keyboard layouts ------------------------------------------------------------
keyboard --vckeymap=jp --xlayouts='jp'

# System language -------------------------------------------------------------
lang ja_JP.UTF-8

# Network information ---------------------------------------------------------
network --bootproto=static --device=ens160 --gateway=192.168.1.254 --hostname=sv-rocky.workgroup --ip=192.168.1.1 --nameserver=192.168.1.254 --netmask=255.255.255.0 --ipv6=auto --activate

# Root password ----------------------------------------------------------------
rootpw --lock
user --groups=wheel --name=master --password=master --gecos="Master"

# SELinux configuration -------------------------------------------------------
selinux --enforcing

# Firewall configuration ------------------------------------------------------
firewall --disabled

# X Window System configuration information -----------------------------------
xconfig --startxonboot

# Run the Setup Agent on first boot -------------------------------------------
firstboot --enable
#ignoredisk --only-use=sda
ignoredisk --only-use=nvme0n1

# System services -------------------------------------------------------------
services --enabled="chronyd"

# System timezone -------------------------------------------------------------
timezone Asia/Tokyo --isUtc --ntpservers=ntp.nict.jp

# -----------------------------------------------------------------------------
%post
yum -y install http://rpms.famillecollet.com/enterprise/remi-release-8.rpm
sed -i.orig -e "s/\]$/\]\npriority=1/g" /etc/yum.repos.d/Rocky-Base.repo
sed -i.orig -e "s/\]$/\]\npriority=5/g" /etc/yum.repos.d/epel.repo
sed -i.orig -e "s/\]$/\]\npriority=10/g" /etc/yum.repos.d/remi-safe.repo
yum config-manager --enable PowerTools
yum -y install inxi
%end

# -----------------------------------------------------------------------------
%packages
@^graphical-server-environment
#@debugging
#@development
@file-server
#@ftp-server
#@graphical-admin-tools
#@headless-management
@network-server
#@performance
#@rpm-development-tools
#@security-tools
@smb-server
#@system-tools
#@web-server
kexec-tools
bind
dhcp-server
#inxi
#snapd
%end

# -----------------------------------------------------------------------------
%addon com_redhat_kdump --enable --reserve-mb='auto'

%end

# -----------------------------------------------------------------------------
%anaconda
pwpolicy root --minlen=6 --minquality=1 --notstrict --nochanges --notempty
pwpolicy user --minlen=6 --minquality=1 --notstrict --nochanges --emptyok
pwpolicy luks --minlen=6 --minquality=1 --notstrict --nochanges --notempty
%end
