#version=DEVEL ----------------------------------------------------------------

# License agreement -----------------------------------------------------------
eula --agreed

# Use graphical install -------------------------------------------------------
graphical

# Use text mode install -------------------------------------------------------
# text

# System language -------------------------------------------------------------
lang ja_JP.UTF-8

# Keyboard layouts ------------------------------------------------------------
keyboard --xlayouts='jp'

# System timezone -------------------------------------------------------------
timezone Asia/Tokyo --utc
timesource --ntp-server ntp.nict.jp

# Network information ---------------------------------------------------------
network --bootproto=static --device=ens160 --gateway=192.168.1.254 --ip=192.168.1.1 --nameserver=192.168.1.254 --netmask=255.255.255.0 --ipv6=auto --activate --hostname=sv-fedora.workgroup

# Use CDROM installation media ------------------------------------------------
#cdrom

# Use network installation ----------------------------------------------------
url                     --mirrorlist="https://mirrors.fedoraproject.org/mirrorlist?repo=fedora-34&arch=x86_64&country=JP"

# Clear the Master Boot Record ------------------------------------------------
zerombr

# Partition clearing information ----------------------------------------------
#clearpart --all --initlabel --drives=sda
#ignoredisk --only-use=sda
clearpart --all --initlabel --drives=nvme0n1
ignoredisk --only-use=nvme0n1

# System bootloader configuration ---------------------------------------------
#bootloader --append="crashkernel=auto" --location=mbr --boot-drive=sda
bootloader --append="crashkernel=auto" --location=mbr --boot-drive=nvme0n1
autopart --type=lvm

# Run the Setup Agent on first boot -------------------------------------------
firstboot --enable

# Reboot after installation ---------------------------------------------------
reboot --eject

# Root password ----------------------------------------------------------------
rootpw --lock
user --groups=wheel --name=master --password=master --gecos="Master"

# SELinux configuration -------------------------------------------------------
selinux --enforcing

# Firewall configuration ------------------------------------------------------
firewall --disabled

# X Window System configuration information -----------------------------------
xconfig --startxonboot

# System services -------------------------------------------------------------
#services --enabled chronyd,named,smbd,nmbd

# -----------------------------------------------------------------------------
%packages
@^server-product-environment
@standard
@basic-desktop-environment
@gnome-desktop
@dns-server
@network-server
@smb-server
#@ftp-server
#@web-server
dhcp-server
ibus-mozc
inxi
vim-common
%end

# -----------------------------------------------------------------------------
%addon com_redhat_kdump --enable --reserve-mb='auto'
%end

# -----------------------------------------------------------------------------
%anaconda
pwpolicy root --minlen=6 --minquality=1 --notstrict --nochanges --notempty
pwpolicy user --minlen=6 --minquality=1 --notstrict --nochanges --emptyok
pwpolicy luks --minlen=6 --minquality=1 --notstrict --nochanges --notempty
%end

# -----------------------------------------------------------------------------
%post
#yum -y install https://dl.fedoraproject.org/pub/epel/epel-release-latest-8.noarch.rpm
#yum -y install http://rpms.famillecollet.com/enterprise/remi-release-8.rpm
#sed -i.orig -e "s/\]$/\]\npriority=1/g" /etc/yum.repos.d/fedora.repo
#sed -i.orig -e "s/\]$/\]\npriority=5/g" /etc/yum.repos.d/epel.repo
#sed -i.orig -e "s/\]$/\]\npriority=10/g" /etc/yum.repos.d/remi-safe.repo
#yum config-manager --enable PowerTools
#yum -y update
#yum -y upgrade
yum -y install clamav clamav-update clamav-scanner-systemd
systemctl enable chronyd.service
systemctl enable named.service
systemctl enable smb.service
systemctl enable nmb.service
%end

# --- eof ---------------------------------------------------------------------
# Memo ------------------------------------------------------------------------
# https://access.redhat.com/documentation/ja-jp/red_hat_enterprise_linux/6/html/installation_guide/sect-kickstart-examples
# https://access.redhat.com/documentation/ja-jp/red_hat_enterprise_linux/6/html/installation_guide/s1-kickstart2-startinginstall
# Memo ------------------------------------------------------------------------
# dnf install pykickstart
# ksvalidator /path/to/kickstart.ks
# Memo ------------------------------------------------------------------------
