#version=RHEL8 ----------------------------------------------------------------

# License agreement -----------------------------------------------------------
eula --agreed

# Use graphical install -------------------------------------------------------
graphical

# Use text mode install -------------------------------------------------------
# text

# System language -------------------------------------------------------------
lang ja_JP.UTF-8

# Keyboard layouts ------------------------------------------------------------
keyboard --xlayouts='jp'

# System timezone -------------------------------------------------------------
timezone Asia/Tokyo --isUtc --ntpservers=ntp.nict.jp

# Network information ---------------------------------------------------------
network --bootproto=static --device=ens160 --gateway=192.168.1.254 --ip=192.168.1.1 --nameserver=192.168.1.254 --netmask=255.255.255.0 --ipv6=auto --activate --hostname=sv-centos.workgroup

# Use CDROM installation media ------------------------------------------------
cdrom

# Use network installation ----------------------------------------------------
#url                     --mirrorlist="http://mirrorlist.centos.org/?release=8&arch=x86_64&repo=baseos"
#repo --name="AppStream" --mirrorlist="http://mirrorlist.centos.org/?release=8&arch=x86_64&repo=appstream"

# Clear the Master Boot Record ------------------------------------------------
zerombr

# Partition clearing information ----------------------------------------------
#clearpart --all --initlabel --drives=sda
#ignoredisk --only-use=sda
clearpart --all --initlabel --drives=nvme0n1
ignoredisk --only-use=nvme0n1

# System bootloader configuration ---------------------------------------------
#bootloader --append="crashkernel=auto" --location=mbr --boot-drive=sda
bootloader --append="crashkernel=auto" --location=mbr --boot-drive=nvme0n1
autopart --type=lvm

# Run the Setup Agent on first boot -------------------------------------------
firstboot --enable

# Reboot after installation ---------------------------------------------------
reboot --eject

# Root password ----------------------------------------------------------------
rootpw --lock
user --groups=wheel --name=master --password=master --gecos="Master"

# SELinux configuration -------------------------------------------------------
selinux --enforcing

# Firewall configuration ------------------------------------------------------
firewall --disabled

# X Window System configuration information -----------------------------------
xconfig --startxonboot

# System services -------------------------------------------------------------
#services --enabled chronyd,named,smbd,nmbd

# -----------------------------------------------------------------------------
%packages
@^graphical-server-environment
@file-server
@network-server
@smb-server
@system-tools
#@ftp-server
#@web-server
kexec-tools
bind
dhcp-server
%end

# -----------------------------------------------------------------------------
%addon com_redhat_kdump --enable --reserve-mb='auto'
%end

# -----------------------------------------------------------------------------
%anaconda
pwpolicy root --minlen=6 --minquality=1 --notstrict --nochanges --notempty
pwpolicy user --minlen=6 --minquality=1 --notstrict --nochanges --emptyok
pwpolicy luks --minlen=6 --minquality=1 --notstrict --nochanges --notempty
%end

# -----------------------------------------------------------------------------
%post
#dnf -y install https://dl.fedoraproject.org/pub/epel/epel-release-latest-8.noarch.rpm
#dnf -y install http://rpms.famillecollet.com/enterprise/remi-release-8.rpm
#sed -i.orig -e "s/\]$/\]\npriority=1/g" /etc/yum.repos.d/CentOS-Base.repo
#sed -i.orig -e "s/\]$/\]\npriority=5/g" /etc/yum.repos.d/epel.repo
#sed -i.orig -e "s/\]$/\]\npriority=10/g" /etc/yum.repos.d/remi-safe.repo
#dnf config-manager --enable PowerTools
#dnf -y update
#dnf -y upgrade
dnf -y install epel-release
dnf config-manager --set-enabled powertools
dnf -y install clamav clamav-update clamav-scanner-systemd
dnf -y install inxi
systemctl enable chronyd.service
systemctl enable named.service
systemctl enable smb.service
systemctl enable nmb.service
%end

# --- eof ---------------------------------------------------------------------
