#version=DEVEL ----------------------------------------------------------------

# License agreement -----------------------------------------------------------
eula --agreed

# Use graphical install -------------------------------------------------------
graphical

# Use text mode install -------------------------------------------------------
#text

# System language -------------------------------------------------------------
lang ja_JP.UTF-8

# Keyboard layouts ------------------------------------------------------------
keyboard --xlayouts='jp'

# System timezone -------------------------------------------------------------
timezone Asia/Tokyo --utc
timesource --ntp-server=ntp.nict.jp

# Network information ---------------------------------------------------------
network --activate --bootproto=static --device=ens160 --ip=192.168.1.1 --netmask=255.255.255.0 --gateway=192.168.1.254 --ipv6=auto --nameserver=::1,127.0.0.1,192.168.1.254 --hostname=sv-_HOSTNAME_.workgroup

# Use CDROM installation media ------------------------------------------------
#cdrom

# Use network installation ----------------------------------------------------
#url  --mirrorlist=https://mirrors.fedoraproject.org/mirrorlist?repo=fedora-$releasever&arch=$basearch&country=JP
#repo --mirrorlist=https://mirrors.fedoraproject.org/mirrorlist?repo=fedora-$releasever&arch=$basearch&country=JP    --name=Everything
#url  --mirrorlist=http://mirrorlist.centos.org/?release=$releasever-stream&arch=$basearch&repo=baseos
#url         --url=http://mirror.stream.centos.org/$releasever-stream/BaseOS/$basearch/os/
#url         --url=https://repo.dist.miraclelinux.net/miraclelinux/$releasever-latest/BaseOS/$basearch/os/
#repo    --baseurl=https://repo.dist.miraclelinux.net/miraclelinux/$releasever-latest/AppStream/$basearch/os/        --name=AppStream
#repo    --baseurl=https://repo.dist.miraclelinux.net/miraclelinux/$releasever-latest/HighAvailability/$basearch/os/ --name=HighAvailability
#repo    --baseurl=https://repo.dist.miraclelinux.net/miraclelinux/$releasever-latest/PowerTools/$basearch/os/       --name=PowerTools
#url         --url=https://download.rockylinux.org/pub/rocky/$releasever/BaseOS/$basearch/os/
#url         --url=https://repo.almalinux.org/almalinux/9/BaseOS/x86_64/os/

# Extra Packages for Enterprise Linux (EPEL) ----------------------------------
#repo --mirrorlist=https://mirrors.fedoraproject.org/mirrorlist?repo=epel-$releasever&arch=$basearch&country=JP      --name=epel             --install --cost=5
#repo --mirrorlist=https://mirrors.fedoraproject.org/mirrorlist?repo=epel-next-$releasever&arch=$basearch&country=JP --name=epel_next        --install --cost=5
#repo --mirrorlist=http://cdn.remirepo.net/enterprise/$releasever/safe/$basearch/mirror                              --name=Remi             --install --cost=10

# Clear the Master Boot Record ------------------------------------------------
zerombr

# Partition clearing information ----------------------------------------------
#clearpart --all --initlabel --drives=sda
#ignoredisk --only-use=sda
clearpart --all --initlabel --drives=nvme0n1
ignoredisk --only-use=nvme0n1

# System bootloader configuration ---------------------------------------------
#bootloader --append="crashkernel=auto" --location=mbr --boot-drive=sda
bootloader --append="crashkernel=auto" --location=mbr --boot-drive=nvme0n1
autopart --type=lvm --nohome

# Run the Setup Agent on first boot -------------------------------------------
firstboot --enable

# Reboot after installation ---------------------------------------------------
reboot --eject

# Root password ----------------------------------------------------------------
rootpw --lock
user --groups=wheel --name=master --password=master --gecos="Master"

# SELinux configuration -------------------------------------------------------
selinux --enforcing

# Firewall configuration ------------------------------------------------------
firewall --disabled

# X Window System configuration information -----------------------------------
xconfig --startxonboot

# System services -------------------------------------------------------------
#services --disabled chronyd
#services --enabled systemd-timesyncd

# -----------------------------------------------------------------------------
%packages
@^minimal-environment
@core
@standard
@smb-server
@gnome-desktop
bash-completion
bind
bind-utils
dhcp-server
httpd
vim-common
#epel-release
%end

# -----------------------------------------------------------------------------
%addon com_redhat_kdump --disable
%end

# -----------------------------------------------------------------------------
%anaconda
pwpolicy root --minlen=6 --minquality=1 --notstrict --nochanges --notempty
pwpolicy user --minlen=6 --minquality=1 --notstrict --nochanges --emptyok
pwpolicy luks --minlen=6 --minquality=1 --notstrict --nochanges --notempty
%end

# -----------------------------------------------------------------------------
%post
for FILE in /etc/pki/rpm-gpg/RPM-GPG-KEY-EPEL*; do rpm --import $FILE; done
dnf -y --refresh check-update
dnf -y install clamav clamav-update clamav-scanner-systemd
dnf -y install ibus-mozc
%end

# --- eof ---------------------------------------------------------------------
# Memo ------------------------------------------------------------------------
# https://access.redhat.com/documentation/ja-jp/red_hat_enterprise_linux/6/html/installation_guide/sect-kickstart-examples
# https://access.redhat.com/documentation/ja-jp/red_hat_enterprise_linux/6/html/installation_guide/s1-kickstart2-startinginstall
# Memo ------------------------------------------------------------------------
# dnf install pykickstart
# ksvalidator /path/to/kickstart.ks
# Memo ------------------------------------------------------------------------
