policy_module(custom_mount, 1.0.0)

gen_require(`
  type mount_t;
  type sysctl_vm_overcommit_t;
  type sysctl_vm_t;
  type tmp_t;
  class process signal;
  class dir { search };
  class file { open read write };
')

########################################
#
# custom_mount customized policy
#
allow mount_t tmp_t:file { open read write };
allow mount_t self:process signal;
allow mount_t sysctl_vm_overcommit_t:file { open read };
allow mount_t sysctl_vm_t:dir search;
