policy_module(custom_fwupd, 1.0.0)

gen_require(`
  type fwupd_t;
  type default_t;
  type fwupd_conf_t;
  type fwupd_var_lib_t;
  type gpg_agent_exec_t;
  type proc_t;
  type removable_device_t;
  type security_t;
  type sysctl_kernel_t;
  type sysfs_t;
  type unconfined_t;
  class dir { search watch };
  class file { execute execute_no_trans map open read setattr write };
  class blk_file { open read };
  class sock_file { create getattr setattr write };
  class unix_stream_socket connectto;
  class dbus send_msg;
')

########################################
#
# custom_fwupd customized policy
#
allow fwupd_t default_t:dir search;
allow fwupd_t fwupd_conf_t:file { setattr write };
allow fwupd_t fwupd_var_lib_t:sock_file { create getattr setattr write };
allow fwupd_t gpg_agent_exec_t:file { execute execute_no_trans map open read };
allow fwupd_t proc_t:dir watch;
allow fwupd_t removable_device_t:blk_file { open read };
allow fwupd_t security_t:dir watch;
allow fwupd_t sysctl_kernel_t:dir watch;
allow fwupd_t sysfs_t:dir watch;
allow fwupd_t sysfs_t:file map;
allow fwupd_t self:unix_stream_socket connectto;
allow fwupd_t unconfined_t:dbus send_msg;
