policy_module(custom_devicekit_disk, 1.0.0)

gen_require(`
  type devicekit_disk_t;
  type user_home_dir_t;
  class dir { add_name write };
')

########################################
#
# custom_devicekit_disk customized policy
#
allow devicekit_disk_t user_home_dir_t:dir { add_name write };
