policy_module(custom_winbind, 1.0.0)

gen_require(`
  type winbind_t;
  type samba_var_t;
  type samba_runtime_t;
  class file map;
  class capability net_admin;
')

########################################
#
# custom_winbind customized policy
#
allow winbind_t samba_runtime_t:file map;
allow winbind_t samba_var_t:file map;
allow winbind_t self:capability net_admin;
