policy_module(custom_semanage, 1.0.0)

gen_require(`
  type semanage_t;
  type cgroup_t;
  type debugfs_t;
  type device_t;
  type devpts_t;
  type file_context_t;
  type fs_t;
  type hugetlbfs_t;
  type policy_config_t;
  type pstore_t;
  type selinux_config_t;
  type semanage_store_t;
  type tmpfs_t;
  type tracefs_t;
  class filesystem getattr;
  class file relabelfrom;
')

########################################
#
# custom_semanage customized policy
#
allow semanage_t cgroup_t:filesystem getattr;
allow semanage_t debugfs_t:filesystem getattr;
allow semanage_t device_t:filesystem getattr;
allow semanage_t devpts_t:filesystem getattr;
allow semanage_t file_context_t:file relabelfrom;
allow semanage_t fs_t:filesystem getattr;
allow semanage_t hugetlbfs_t:filesystem getattr;
allow semanage_t policy_config_t:file relabelfrom;
allow semanage_t pstore_t:filesystem getattr;
allow semanage_t selinux_config_t:file relabelfrom;
allow semanage_t semanage_store_t:dir relabelfrom;
allow semanage_t semanage_store_t:file relabelfrom;
allow semanage_t tmpfs_t:filesystem getattr;
allow semanage_t tracefs_t:filesystem getattr;
