policy_module(custom_firewalld, 1.0.0)

gen_require(`
  type firewalld_t;
  type firewalld_tmpfs_t;
  type initrc_t;
  type proc_t;
  type sysctl_kernel_t;
  type unconfined_t;
  class capability { dac_read_search setpcap };
  class dbus send_msg;
  class dir search;
  class file { execute open read };
  class filesystem getattr;
  class process { getcap setcap };
')

########################################
#
# custom_firewalld customized policy
#
allow firewalld_t firewalld_tmpfs_t:file execute;
allow firewalld_t initrc_t:dbus send_msg;
allow firewalld_t proc_t:filesystem getattr;
allow firewalld_t sysctl_kernel_t:dir search;
allow firewalld_t sysctl_kernel_t:file { open read };
allow firewalld_t unconfined_t:dbus send_msg;
allow firewalld_t self:capability { dac_read_search setpcap };
allow firewalld_t self:process { getcap setcap };
