policy_module(custom_switcheroo, 1.0.0)

gen_require(`
  type switcheroo_t;
  class capability sys_admin;
')

########################################
#
# custom_switcheroo customized policy
#
allow switcheroo_t self:capability sys_admin;
