#version=DEVEL ----------------------------------------------------------------

# License agreement -----------------------------------------------------------
eula --agreed

# Use graphical or text mode install ------------------------------------------
#graphical
#text

# System language -------------------------------------------------------------
lang ja_JP.UTF-8

# Keyboard layouts ------------------------------------------------------------
keyboard --xlayouts='jp'

# System timezone -------------------------------------------------------------
timezone Asia/Tokyo --utc
timesource --ntp-server=ntp.nict.jp
#timezone Asia/Tokyo --isUtc --ntpservers=ntp.nict.jp

# Network information ---------------------------------------------------------
#network --activate --bootproto=static --device=ens160 --ip=192.168.1.1 --netmask=255.255.255.0 --gateway=192.168.1.254 --ipv6=auto --nameserver=::1,127.0.0.1,192.168.1.254 --hostname=sv-almalinux.workgroup

# Use CD-ROM, hard drive, or network mode installation ------------------------
#cdrom
#harddrive --dir= --partition=LABEL=$label

# Use network installation (fedora) -------------------------------------------
#url  --metalink=https://mirrors.fedoraproject.org/metalink?repo=fedora-$releasever&arch=$basearch

# Use network installation (centos stream) ------------------------------------
#url  --metalink=https://mirrors.centos.org/metalink?repo=centos-baseos-$stream&arch=$basearch&protocol=https,http
#repo --metalink=https://mirrors.centos.org/metalink?repo=centos-appstream-$stream&arch=$basearch&protocol=https,http --name=MyAppStream

# Use network installation (almalinux) ----------------------------------------
url  --mirrorlist=https://mirrors.almalinux.org/mirrorlist/9/baseos
repo --mirrorlist=https://mirrors.almalinux.org/mirrorlist/9/appstream --name=MyAppStream

# Use network installation (rockylinux) ---------------------------------------
#url  --mirrorlist=https://mirrors.rockylinux.org/mirrorlist?arch=$basearch&repo=BaseOS-$releasever$rltype
#repo --mirrorlist=https://mirrors.rockylinux.org/mirrorlist?arch=$basearch&repo=AppStream-$releasever$rltype --name=MyAppStream

# Use network installation (miraclelinux) -------------------------------------
#url  --mirrorlist=https://repo.dist.miraclelinux.net/miraclelinux/mirrorlist/$releasever/$basearch/baseos
#repo --mirrorlist=https://repo.dist.miraclelinux.net/miraclelinux/mirrorlist/$releasever/$basearch/appstream --name=MyAppStream

# Use network installation (web address) --------------------------------------
#url         --url=http://192.168.1.14/imgs/almalinux-9/
#repo    --baseurl=http://192.168.1.14/imgs/almalinux-9/AppStream/ --name=MyAppStream

# Extra Packages for Enterprise Linux (EPEL) ----------------------------------
repo    --baseurl=https://dl.fedoraproject.org/pub/epel/9/Everything/x86_64 --name=MyEPEL

# Clear the Master Boot Record ------------------------------------------------
zerombr

# Partition clearing information ----------------------------------------------
#clearpart --all --initlabel --drives=sda
#ignoredisk --only-use=sda
clearpart --all --initlabel --drives=nvme0n1
ignoredisk --only-use=nvme0n1

# System bootloader configuration ---------------------------------------------
#bootloader --append="crashkernel=auto" --location=mbr --boot-drive=sda
bootloader --append="crashkernel=auto" --location=mbr --boot-drive=nvme0n1
autopart --type=lvm --nohome

# Run the Setup Agent on first boot -------------------------------------------
#firstboot --enable

# Reboot after installation ---------------------------------------------------
reboot --eject

# SSH -------------------------------------------------------------------------
#sshpw --username=root r00t

# Root password ----------------------------------------------------------------
rootpw --lock

# User password ----------------------------------------------------------------
user --groups=wheel --name=master --password=master --gecos="Master"

# SELinux configuration -------------------------------------------------------
selinux --enforcing

# Firewall configuration ------------------------------------------------------
firewall --enabled

# X Window System configuration information -----------------------------------
#xconfig --startxonboot

# System services -------------------------------------------------------------
services --disabled=avahi-daemon --enabled=systemd-resolved,dnsmasq,httpd,winbind,smb,nmb

# -----------------------------------------------------------------------------
%packages
@core
@standard
epel-release
selinux-policy-targeted
sudo
firewalld
traceroute
NetworkManager
bash-completion
curl
vim
bc
tree
clamav
openssh-server
systemd-resolved
dnsmasq
tftp-server
bind-utils
httpd
samba
samba-client
cifs-utils
samba-winbind
open-vm-tools
open-vm-tools-desktop
fuse3
fuse3-libs
@gnome-desktop
audacious
audacious-plugins-ffaudio
alsa-firmware
%end
#@dns-server
#bind-utils
#dhcp-server

# backup ----------------------------------------------------------------------
#epel-release

# -----------------------------------------------------------------------------
%addon com_redhat_kdump --disable
%end

# -----------------------------------------------------------------------------
#%anaconda
#pwpolicy root --minlen=6 --minquality=1 --notstrict --nochanges --notempty
#pwpolicy user --minlen=6 --minquality=1 --notstrict --nochanges --emptyok
#pwpolicy luks --minlen=6 --minquality=1 --notstrict --nochanges --notempty
#%end

%onerror
#!/bin/sh
  cp -p /etc/ssh/sshd_config.anaconda /etc/ssh/sshd_config
  systemctl restart sshd
%end

# -----------------------------------------------------------------------------
%pre --erroronfail
#!/bin/sh
  mkdir -p /var/adm/autoinst/
  {
    cd /var/adm/autoinst/
    wget http://192.168.1.12/conf/script/autoinst_cmd_early.sh
    chmod +x ./autoinst_cmd_early.sh
    ./autoinst_cmd_early.sh
  } >> /var/adm/autoinst/autoinst_cmd_early.sh.log 2>&1
  exit 0
%end

# -----------------------------------------------------------------------------
%post --erroronfail --nochroot
#!/bin/sh
  {
    mkdir -p /mnt/sysimage/var/adm/;
    mount --bind /var/adm/ /mnt/sysimage/var/adm/;
    mount --bind /run/     /mnt/sysimage/run/;
    mount --bind /proc/    /mnt/sysimage/proc/;
    mount --bind /sys/     /mnt/sysimage/sys/;
    chroot /mnt/sysimage/ /var/adm/autoinst/autoinst_cmd_late.sh;
    umount /mnt/sysimage/sys/ /mnt/sysimage/proc/ /mnt/sysimage/run/ /mnt/sysimage/var/adm/;
  } >> /var/adm/autoinst/autoinst_cmd_late.sh.log 2>&1;
  cp -pr /var/adm/* /mnt/sysimage/var/adm/;
  exit 0;
%end
#yum list available | grep 'package name'

# --- eof ---------------------------------------------------------------------
# Memo ------------------------------------------------------------------------
# https://access.redhat.com/documentation/ja-jp/red_hat_enterprise_linux/6/html/installation_guide/sect-kickstart-examples
# https://access.redhat.com/documentation/ja-jp/red_hat_enterprise_linux/6/html/installation_guide/s1-kickstart2-startinginstall
# Memo ------------------------------------------------------------------------
# dnf install pykickstart
# ksvalidator /path/to/kickstart.ks
# Memo ------------------------------------------------------------------------
