#version=DEVEL ----------------------------------------------------------------

# License agreement -----------------------------------------------------------
eula --agreed

# Use graphical install -------------------------------------------------------
#graphical

# Use text mode install -------------------------------------------------------
#text

# System language -------------------------------------------------------------
lang ja_JP.UTF-8

# Keyboard layouts ------------------------------------------------------------
keyboard --xlayouts='jp'

# System timezone -------------------------------------------------------------
timezone Asia/Tokyo --utc
timesource --ntp-server=ntp.nict.jp
#timezone Asia/Tokyo --isUtc --ntpservers=ntp.nict.jp

# Network information ---------------------------------------------------------
#network --activate --bootproto=static --device=ens160 --ip=192.168.1.1 --netmask=255.255.255.0 --gateway=192.168.1.254 --ipv6=auto --nameserver=::1,127.0.0.1,192.168.1.254 --hostname=sv-fedora.workgroup

# Use CDROM installation media ------------------------------------------------
cdrom

# Use hard drive installation media -------------------------------------------
#harddrive --dir= --partition=LABEL=$label

# Use network installation (fedora) -------------------------------------------
#url  --mirrorlist=https://mirrors.fedoraproject.org/mirrorlist?repo=fedora-40&arch=x86_64&country=JP
repo --mirrorlist=https://mirrors.fedoraproject.org/mirrorlist?repo=fedora-40&arch=x86_64&country=JP    --name=Everything
#url         --url=_WEBADDR_/fedora-$releasever/
#repo    --baseurl=_WEBADDR_/fedora-$releasever/AppStream/ --name=AppStream

# Use network installation (centos stream-8) ----------------------------------
#url  --mirrorlist=http://mirrorlist.centos.org/?release=$releasever-stream&arch=$basearch&repo=baseos
#repo --mirrorlist=http://mirrorlist.centos.org/?release=$releasever-stream&arch=$basearch&repo=appstream            --name=AppStream
#url         --url=_WEBADDR_/centos-stream-$releasever/
#repo    --baseurl=_WEBADDR_/centos-stream-$releasever/AppStream/ --name=AppStream

# Use network installation (centos stream-9) ----------------------------------
#url         --url=https://mirror.stream.centos.org/$releasever-stream/BaseOS/$basearch/os/
#repo    --baseurl=https://mirror.stream.centos.org/$releasever-stream/AppStream/$basearch/os/                       --name=AppStream
#url         --url=_WEBADDR_/centos-stream-$releasever/
#repo    --baseurl=_WEBADDR_/centos-stream-$releasever/AppStream/ --name=AppStream

# Use network installation (miraclelinux) -------------------------------------
#url         --url=https://repo.dist.miraclelinux.net/miraclelinux/$releasever-latest/BaseOS/$basearch/os/
#repo    --baseurl=https://repo.dist.miraclelinux.net/miraclelinux/$releasever-latest/AppStream/$basearch/os/        --name=AppStream
#repo    --baseurl=https://repo.dist.miraclelinux.net/miraclelinux/$releasever-latest/HighAvailability/$basearch/os/ --name=HighAvailability
#repo    --baseurl=https://repo.dist.miraclelinux.net/miraclelinux/$releasever-latest/PowerTools/$basearch/os/       --name=PowerTools
#url         --url=_WEBADDR_/miraclelinux-$releasever/
#repo    --baseurl=_WEBADDR_/miraclelinux-$releasever/AppStream/ --name=AppStream

# Use network installation (rockylinux) ---------------------------------------
#url         --url=https://download.rockylinux.org/pub/rocky/$releasever/BaseOS/$basearch/os/
#repo    --baseurl=https://download.rockylinux.org/pub/rocky/$releasever/AppStream/$basearch/os/                     --name=AppStream
#url         --url=_WEBADDR_/rockylinux-$releasever/
#repo    --baseurl=_WEBADDR_/rockylinux-$releasever/AppStream/ --name=AppStream

# Use network installation (almalinux) ----------------------------------------
#url         --url=https://repo.almalinux.org/almalinux/$releasever/BaseOS/$basearch/os/
#repo    --baseurl=https://repo.almalinux.org/almalinux/$releasever/AppStream/$basearch/os/                          --name=AppStream
#url         --url=_WEBADDR_/almalinux-$releasever/
#repo    --baseurl=_WEBADDR_/almalinux-$releasever/AppStream/ --name=AppStream

# Extra Packages for Enterprise Linux (EPEL) ----------------------------------

# backup ----------------------------------------------------------------------
#repo --mirrorlist=https://mirrors.fedoraproject.org/metalink?repo=epel-$releasever&arch=$basearch                   --name=epel             --install
#repo    --baseurl=https://rpms.remirepo.net/enterprise/$releasever/remi/$basearch/                                  --name=remi             --install
#repo --mirrorlist=https://mirrors.fedoraproject.org/mirrorlist?repo=epel-$releasever&arch=$basearch&country=JP      --name=epel             --install --cost=5
#repo --mirrorlist=https://mirrors.fedoraproject.org/mirrorlist?repo=epel-next-$releasever&arch=$basearch&country=JP --name=epel_next        --install --cost=5
#repo    --baseurl=https://rpms.remirepo.net/enterprise/$releasever/safe/$basearch/                                  --name=remi-safe        --install --cost=10 
#repo    --baseurl=https://rpms.remirepo.net/enterprise/$releasever/remi/$basearch/                                  --name=remi             --install --cost=10 
#repo    --baseurl=https://rpms.remirepo.net/enterprise/$releasever/modular/$basearch/                               --name=remi-modular     --install --cost=10 

# Clear the Master Boot Record ------------------------------------------------
zerombr

# Partition clearing information ----------------------------------------------
#clearpart --all --initlabel --drives=sda
#ignoredisk --only-use=sda
clearpart --all --initlabel --drives=nvme0n1
ignoredisk --only-use=nvme0n1

# System bootloader configuration ---------------------------------------------
#bootloader --append="crashkernel=auto" --location=mbr --boot-drive=sda
bootloader --append="crashkernel=auto" --location=mbr --boot-drive=nvme0n1
autopart --type=lvm --nohome

# Run the Setup Agent on first boot -------------------------------------------
#firstboot --enable

# Reboot after installation ---------------------------------------------------
reboot --eject

# SSH -------------------------------------------------------------------------
#sshpw --username=root r00t

# Root password ----------------------------------------------------------------
rootpw --lock

# User password ----------------------------------------------------------------
user --groups=wheel --name=master --password=master --gecos="Master"

# SELinux configuration -------------------------------------------------------
#selinux --enforcing

# Firewall configuration ------------------------------------------------------
#firewall --disabled

# X Window System configuration information -----------------------------------
#xconfig --startxonboot

# System services -------------------------------------------------------------
services --enabled=dnsmasq,httpd,winbind,smb,nmb

# -----------------------------------------------------------------------------
%packages
@^minimal-environment
@core
@standard
-@gnome-desktop
sudo
firewalld
traceroute
NetworkManager
bash-completion
curl
vim
bc
openssh-server
systemd-resolved
dnsmasq
tftp-server
bind-utils
httpd
samba
samba-client
cifs-utils
samba-winbind
open-vm-tools
open-vm-tools-desktop
fuse
%end
#clamav
#@dns-server
#bind-utils
#dhcp-server
#@gnome-desktop
#open-vm-tools
#open-vm-tools-desktop

# backup ----------------------------------------------------------------------
#epel-release

# -----------------------------------------------------------------------------
%addon com_redhat_kdump --disable
%end

# -----------------------------------------------------------------------------
#%anaconda
#pwpolicy root --minlen=6 --minquality=1 --notstrict --nochanges --notempty
#pwpolicy user --minlen=6 --minquality=1 --notstrict --nochanges --emptyok
#pwpolicy luks --minlen=6 --minquality=1 --notstrict --nochanges --notempty
#%end

%onerror
#!/bin/sh
cp -p /etc/ssh/sshd_config.anaconda /etc/ssh/sshd_config
systemctl restart shhd
%end

# -----------------------------------------------------------------------------
%pre --erroronfail --log=/mnt/sysimage/root/ks-pre.log
#!/bin/sh
for _LINE in $(cat /proc/cmdline)
do
  case "${_LINE}" in
    inst.ks=*)
      _ADDR="${_LINE#*=}"
      case "${_ADDR}" in
        http:*|https:*|ftp:*  ) wget -O /tmp/late_command.sh "${_ADDR%/*}"/late_command.sh;;
        nfs:*                 ) ;;
        hd:sr0:*|cdrom|cdrom:*) cp /mnt/install/repo/kickstart/late_command.sh /tmp/;;
        hd:*                  ) ;;
        hmc                   ) ;;
        *) ;;
      esac
      ;;
    *) ;;
  esac
done
%end

# -----------------------------------------------------------------------------
%post --erroronfail --nochroot --log=/mnt/sysimage/root/ks-post.log
#!/bin/sh
if [ -e /tmp/late_command.sh ]; then
  mount --rbind /dev  /mnt/sysimage/dev
  mount --rbind /proc /mnt/sysimage/proc
  mount --rbind /run  /mnt/sysimage/run
  mount --rbind /sys  /mnt/sysimage/sys
  mount --rbind /tmp  /mnt/sysimage/tmp
  mount --make-rslave /mnt/sysimage/dev
  mount --make-rslave /mnt/sysimage/sys
  systemctl daemon-reload
  mkdir -p /mnt/sysimage/var/adm/installer/kickstart
  chmod 0600 /mnt/sysimage/var/adm/installer/kickstart
  cp -a /tmp/late_command.sh /mnt/sysimage/var/adm/installer/kickstart/
  chroot /mnt/sysimage/ sh -c /var/adm/installer/kickstart/late_command.sh
  umount -R /mnt/sysimage || true
fi
%end
#yum list available | grep 'package name'

# backup ----------------------------------------------------------------------
#rpm --import https://dl.fedoraproject.org/pub/epel/RPM-GPG-KEY-EPEL-$releasever
#rpm --import https://rpms.remirepo.net/enterprise/$releasever/RPM-GPG-KEY-remi
#for FILE in $(find /etc/pki/rpm-gpg/ -name RPM-GPG-KEY-EPEL*); do rpm --import $FILE; done

# --- eof ---------------------------------------------------------------------
# Memo ------------------------------------------------------------------------
# https://access.redhat.com/documentation/ja-jp/red_hat_enterprise_linux/6/html/installation_guide/sect-kickstart-examples
# https://access.redhat.com/documentation/ja-jp/red_hat_enterprise_linux/6/html/installation_guide/s1-kickstart2-startinginstall
# Memo ------------------------------------------------------------------------
# dnf install pykickstart
# ksvalidator /path/to/kickstart.ks
# Memo ------------------------------------------------------------------------
