#version=DEVEL

# Install OS instead of upgrade -----------------------------------------------
#install

# X Window System configuration information -----------------------------------
xconfig --startxonboot

# License agreement -----------------------------------------------------------
#eula --agreed

# Firewall configuration ------------------------------------------------------
firewall --disabled

# System authorization information --------------------------------------------
#auth --enableshadow --passalgo=sha512

# Use CDROM installation media ------------------------------------------------
#cdrom

# Use network installation ----------------------------------------------------
url --mirrorlist="https://mirrors.fedoraproject.org/mirrorlist?repo=fedora-31&arch=x86_64&country=JP"

# Use graphical install -------------------------------------------------------
graphical

# Use text mode install -------------------------------------------------------
# text

# Run the Setup Agent on first boot -------------------------------------------
firstboot --enable
ignoredisk --only-use=sda

# SELinux configuration -------------------------------------------------------
#selinux --enforcing

# System services -------------------------------------------------------------
services --enabled="chronyd"

# Keyboard layouts ------------------------------------------------------------
keyboard --vckeymap=jp --xlayouts='jp'

# System language -------------------------------------------------------------
lang ja_JP.UTF-8

# Network information ---------------------------------------------------------
network --bootproto=static --device=ens160 --gateway=192.168.1.254 --ip=192.168.1.1 --nameserver=192.168.1.254 --netmask=255.255.255.0 --ipv6=auto --activate --hostname=sv-fedora.workgroup

#Root password ----------------------------------------------------------------
rootpw --lock
user --groups=wheel --name=master --password=master --gecos="Master"

# Reboot after installation ---------------------------------------------------
#reboot --eject

# System timezone -------------------------------------------------------------
timezone Asia/Tokyo --isUtc --ntpservers=ntp.nict.jp

# System bootloader configuration ---------------------------------------------
bootloader --append=" crashkernel=auto" --location=mbr --boot-drive=sda
autopart --type=lvm

# Clear the Master Boot Record ------------------------------------------------
zerombr

# Partition clearing information ----------------------------------------------
clearpart --all --initlabel --drives=sda

# -----------------------------------------------------------------------------
%packages
@^server-product-environment
@core
@gnome-desktop
@smb-server
@standard
bc
bind
bind-utils
httpd
inxi
nfs-utils
rsync
snapd
vim-common
wget
%end

# -----------------------------------------------------------------------------
%addon com_redhat_kdump --disable --reserve-mb='128'
%end

# -----------------------------------------------------------------------------
%anaconda
pwpolicy root --minlen=6 --minquality=1 --notstrict --nochanges --notempty
pwpolicy user --minlen=6 --minquality=1 --notstrict --nochanges --emptyok
pwpolicy luks --minlen=6 --minquality=1 --notstrict --nochanges --notempty
%end

# -----------------------------------------------------------------------------
%pre
%end

# -----------------------------------------------------------------------------
%post
dnf -y group install "Fedora Workstation" input-methods japanese-support
dnf -y install dhcp vsftpd chromium
%end

# Memo ------------------------------------------------------------------------
# https://access.redhat.com/documentation/ja-jp/red_hat_enterprise_linux/6/html/installation_guide/sect-kickstart-examples
# https://access.redhat.com/documentation/ja-jp/red_hat_enterprise_linux/6/html/installation_guide/s1-kickstart2-startinginstall
# Memo ------------------------------------------------------------------------
