#version=DEVEL

# Install OS instead of upgrade -----------------------------------------------
install

# X Window System configuration information -----------------------------------
xconfig --startxonboot

# License agreement -----------------------------------------------------------
eula --agreed

# Firewall configuration ------------------------------------------------------
firewall --disabled

# System authorization information --------------------------------------------
auth --enableshadow --passalgo=sha512

# Use CDROM installation media ------------------------------------------------
cdrom

# Use network installation ----------------------------------------------------
#url --mirrorlist="http://mirrorlist.centos.org/?release=7&arch=x86_64&repo=os"

# Use graphical install -------------------------------------------------------
graphical

# Use text mode install -------------------------------------------------------
# text

# Run the Setup Agent on first boot -------------------------------------------
firstboot --enable
ignoredisk --only-use=sda

# SELinux configuration -------------------------------------------------------
selinux --enforcing

# System services -------------------------------------------------------------
services --enabled="chronyd"

# Keyboard layouts ------------------------------------------------------------
keyboard --vckeymap=jp --xlayouts='jp'

# System language -------------------------------------------------------------
lang ja_JP.UTF-8

# Network information ---------------------------------------------------------
network --bootproto=static --device=ens160 --gateway=192.168.1.254 --ip=192.168.1.1 --nameserver=192.168.1.254 --netmask=255.255.255.0 --ipv6=auto --activate --hostname=sv-centos.workgroup

#Root password ----------------------------------------------------------------
rootpw --lock
user --groups=wheel --name=master --password=master --gecos="Master"

# Reboot after installation ---------------------------------------------------
reboot --eject

# System timezone -------------------------------------------------------------
timezone Asia/Tokyo --isUtc --ntpservers=ntp.nict.jp

# System bootloader configuration ---------------------------------------------
bootloader --append=" crashkernel=auto" --location=mbr --boot-drive=sda
autopart --type=lvm

# Clear the Master Boot Record ------------------------------------------------
zerombr

# Partition clearing information ----------------------------------------------
clearpart --all --initlabel --drives=sda

# -----------------------------------------------------------------------------
%packages
@^graphical-server-environment
@base
@core
@dns-server
@file-server
@fonts
@ftp-server
@gnome-desktop
@input-methods
@internet-browser
@web-server
@x11
dhcp
%end

# -----------------------------------------------------------------------------
%addon com_redhat_kdump --enable --reserve-mb='auto'
%end

# -----------------------------------------------------------------------------
%anaconda
pwpolicy root --minlen=6 --minquality=1 --notstrict --nochanges --notempty
pwpolicy user --minlen=6 --minquality=1 --notstrict --nochanges --emptyok
pwpolicy luks --minlen=6 --minquality=1 --notstrict --nochanges --notempty
%end

# -----------------------------------------------------------------------------
%pre
%end

# -----------------------------------------------------------------------------
%post
yum -y install yum-plugin-priorities
yum -y install epel-release centos-release-scl-rh
yum -y install centos-release-scl
yum -y install http://rpms.famillecollet.com/enterprise/remi-release-7.rpm
sed -i.orig -e "s/\]$/\]\npriority=1/g"  /etc/yum.repos.d/CentOS-Base.repo
sed -i.orig -e "s/\]$/\]\npriority=5/g"  /etc/yum.repos.d/epel.repo
sed -i.orig -e "s/\]$/\]\npriority=10/g" /etc/yum.repos.d/CentOS-SCLo-scl.repo
sed -i.orig -e "s/\]$/\]\npriority=10/g" /etc/yum.repos.d/CentOS-SCLo-scl-rh.repo
sed -i.orig -e "s/\]$/\]\npriority=10/g" /etc/yum.repos.d/remi-safe.repo
%end

# Memo ------------------------------------------------------------------------
# https://access.redhat.com/documentation/ja-jp/red_hat_enterprise_linux/6/html/installation_guide/sect-kickstart-examples
# https://access.redhat.com/documentation/ja-jp/red_hat_enterprise_linux/6/html/installation_guide/s1-kickstart2-startinginstall
# Memo ------------------------------------------------------------------------
