# *****************************************************************************
# Contents of the preconfiguration file (for ubuntu) : x86/amd64 [ubuntu-desktop]
# *****************************************************************************
# == Localization =============================================================
  d-i localechooser/translation/warn-light boolean true
  d-i localechooser/translation/warn-severe boolean true
  d-i debian-installer/language string ja
  d-i debian-installer/country string JP
  d-i debian-installer/locale string ja_JP.UTF-8
# -- Keyboard selection. ------------------------------------------------------
  d-i console-setup/ask_detect boolean false
  d-i keyboard-configuration/xkb-keymap select jp
  d-i keyboard-configuration/layoutcode string jp
  d-i keyboard-configuration/variant select Japanese
  d-i keyboard-configuration/modelcode pc105
# == Network configuration ====================================================
  d-i netcfg/choose_interface select auto
  d-i netcfg/disable_dhcp boolean false
# -- Static network configuration. --------------------------------------------
# d-i netcfg/get_ipaddress string 192.168.1.1
# d-i netcfg/get_netmask string 255.255.255.0
# d-i netcfg/get_gateway string 192.168.1.254
# d-i netcfg/get_nameservers string 192.168.1.254
# d-i netcfg/confirm_static boolean true
# -- hostname and domain names ------------------------------------------------
  d-i netcfg/get_hostname string ws-ubuntu
  d-i netcfg/get_domain string workgroup
# == Mirror settings ==========================================================
  d-i mirror/protocol select http
  d-i mirror/country string JP
  d-i mirror/http/hostname string jp.archive.ubuntu.com
  d-i mirror/http/directory string /ubuntu/
  d-i mirror/http/proxy string
  d-i mirror/http/mirror select jp.archive.ubuntu.com
# == Account setup ============================================================
  d-i passwd/root-login boolean false
  d-i passwd/make-user boolean true
# -- Root password, either in clear text or encrypted -------------------------
# d-i passwd/root-password password r00tme
# d-i passwd/root-password-again password r00tme
# d-i passwd/root-password-crypted password [crypt(3) hash]
# -- Normal user's password, either in clear text or encrypted ----------------
  d-i passwd/user-fullname string Master
  d-i passwd/username string master
  d-i passwd/user-password password master
  d-i passwd/user-password-again password master
# d-i passwd/user-password-crypted password [crypt(3) hash]
# -----------------------------------------------------------------------------
  d-i user-setup/allow-password-weak boolean true
  d-i user-setup/encrypt-home boolean false
# == Clock and time zone setup ================================================
  d-i clock-setup/utc boolean true
  d-i time/zone select Asia/Tokyo
# -- Controls whether to use NTP to set the clock during the install ----------
  d-i clock-setup/ntp boolean true
# -- NTP server to use. The default is almost always fine here. ---------------
  d-i clock-setup/ntp-server string ntp.nict.jp
# == Partitioning =============================================================
  d-i partman-efi/non_efi_system boolean true
  d-i partman-auto/disk string /dev/sda
  d-i partman-auto/init_automatically_partition select lvm
  d-i partman-auto/method string lvm
# -----------------------------------------------------------------------------
  d-i partman-md/device_remove_md boolean true
  d-i partman-lvm/device_remove_lvm boolean true
  d-i partman-lvm/confirm boolean true
  d-i partman-lvm/confirm_nooverwrite boolean true
# -----------------------------------------------------------------------------
  d-i partman-auto-lvm/guided_size string max
  d-i partman-auto/choose_recipe select atomic
# -----------------------------------------------------------------------------
  d-i partman/default_filesystem string btrfs
  d-i partman-partitioning/confirm_write_new_label boolean true
# -----------------------------------------------------------------------------
  d-i partman/choose_partition select finish
# -----------------------------------------------------------------------------
  d-i partman/confirm boolean true
  d-i partman/confirm_nooverwrite boolean true
  d-i partman/mount_style select uuid
# == Base system installation =================================================
# d-i base-installer/install-recommends boolean true
# d-i base-installer/kernel/image select linux-signed-generic
# == Apt setup ================================================================
  d-i apt-setup/restricted boolean true
  d-i apt-setup/universe boolean true
  d-i apt-setup/backports boolean true
  d-i apt-setup/use_mirror boolean true
  d-i apt-setup/services-select multiselect security, updates
  d-i apt-setup/security_host string security.ubuntu.com
  d-i apt-setup/security_path string /ubuntu
  d-i debian-installer/allow_unauthenticated boolean false
# == Package selection ========================================================
  tasksel tasksel/first multiselect \
    standard, server, ubuntu-desktop, openssh-server, dns-server, samba-server
  d-i pkgsel/include string \
    sudo tasksel network-manager curl bc ibus-mozc \
    perl apt-show-versions libapt-pkg-perl libauthen-pam-perl libio-pty-perl libnet-ssleay-perl perl-openssl-defaults \
    clamav bind9 dnsutils apache2 vsftpd isc-dhcp-server ntpdate samba smbclient cifs-utils rsync \
    chromium-browser chromium-browser-l10n
  d-i pkgsel/install-language-support boolean true
# -- Whether to upgrade packages after debootstrap. ---------------------------
# d-i pkgsel/upgrade select none
# d-i pkgsel/upgrade select safe-upgrade
  d-i pkgsel/upgrade select full-upgrade
  d-i pkgsel/update-policy select none
# -----------------------------------------------------------------------------
  popularity-contest popularity-contest/participate boolean false
# -----------------------------------------------------------------------------
  d-i pkgsel/updatedb boolean true
# == Boot loader installation =================================================
  d-i grub-installer/only_debian boolean true
  d-i grub-installer/bootdev string default
  d-i finish-install/reboot_in_progress note
  d-i cdrom-detect/eject boolean true
# == Preseeding other packages ================================================
# d-i debhelper debconf-utils
#   debconf-get-selections --installer > file
#   debconf-get-selections >> file
#   debconf-set-selections -c preseed.cfg
# == End Of File ==============================================================
